a{
  text-decoration: none !important;
}

.ba{
  border: 1px solid #E3E7EE;
}
.bt{
  border-top: 1px solid #E3E7EE;
}
.bl{
  border-left: 1px solid #E3E7EE;
}
.br{
  border-right: 1px solid #E3E7EE;
}
.bb{
  border-bottom: 1px solid #E3E7EE;
}